html {
    background-color: rgb(165, 81, 42);
    background-image: url("https://www.transparenttextures.com/patterns/gun-metal.png");
    color: rgb(36, 26, 26);
    font-family: 'Bangers', cursive;
    max-height: 90%;
    margin-bottom: 10rem;
}

.main-page {
    text-align: center;
}
#title-box {
    font-size: 3rem;
    border-bottom: 1rem solid rgb(87, 49, 27);
    color: rgb(48, 34, 28);
    margin-bottom: 3rem;

}

#start-button, #reset, #diff-toggle {
    border: 1px solid rgba(92, 41, 21, 0.877);
    border-radius: 10%;
    font-size: 2rem;
}

/* difficulty responder classes */
.diff-easy {
    font-size: 1.8rem;
    color: #194911
}
.diff-medium {
    font-size: 1.8rem;
    color: #bba424
}
.diff-hard {
    font-size: 1.8rem;
    color: #740c0c
}

.quadrant {
    border: 2px solid rgb(197, 197, 197);
    line-height: 14rem;
}

.row {
    margin-bottom: 0;
}


/* To be added as class to quadrant in .js implementing selection blowup */
.quadrant-selected {
    border: 3px solid black;
    pointer-events: none;
}

/* to be added while computer is running so player cant interfere */
.quads-while-running{
    pointer-events: none;
}

#simon-selector-1 {
    color: #f50800;
    background-color: #f50800;
    background-image: url("https://www.transparenttextures.com/patterns/brick-wall-dark.png");
    border-radius: 100% 0 0 0;
}

#simon-selector-2 {
    color: #5945f3;
    background-color: #5945f3;
    background-image: url("https://www.transparenttextures.com/patterns/brick-wall-dark.png");
    border-radius: 0 100% 0 0;
}

#simon-selector-3 {
    color: #faef23;
    background-color: #faef23;
    background-image: url("https://www.transparenttextures.com/patterns/brick-wall-dark.png");
    border-radius: 0 0 0 100%;
}

#simon-selector-4 {
    color: #41ff24;
    background-color: #41ff24;
    background-image: url("https://www.transparenttextures.com/patterns/brick-wall-dark.png");
    border-radius: 0 0 100% 0;
}

.container {
    border-radius: 50%;
    height: 90%; 
    max-width: 30rem;
    min-height: 30rem;
}
