/* * {
    border: solid;
} */
html {
    background: rgb(209, 197, 197);
    color: rgb(36, 26, 26);
}

.main-page {
    text-align: center;
}

#start-button, #reset, #diff-toggle {
    border: 2px solid black;
}

.quadrant {
    border: 2px solid rgb(197, 197, 197);
    line-height: 14rem;
}

.row {
    margin-bottom: 0;
}

/* To be added as class to quadrant in .js implementing selection blowup */
.quadrant-selected {
    border: 3px solid black;
    pointer-events: none;
}

/* to be added while computer is running so player cant interfere */
.quads-while-running{
    pointer-events: none;
}

#simon-selector-1 {
    color: #f50800;
    background-color: #f50800;
    background-image: url("https://www.transparenttextures.com/patterns/brick-wall-dark.png");
    border-radius: 100% 0 0 0;
}

#simon-selector-2 {
    color: #3b23f5;
    background-color: #3b23f5;
    background-image: url("https://www.transparenttextures.com/patterns/brick-wall-dark.png");
    border-radius: 0 100% 0 0;
}

#simon-selector-3 {
    color: #faef23;
    background-color: #faef23;
    background-image: url("https://www.transparenttextures.com/patterns/brick-wall-dark.png");
    border-radius: 0 0 0 100%;
}

#simon-selector-4 {
    color: #41ff24;
    background-color: #41ff24;
    background-image: url("https://www.transparenttextures.com/patterns/brick-wall-dark.png");
    border-radius: 0 0 100% 0;
}

.container {
    border: 2px solid black;
    border-radius: 50%;
    height: 90%; 
    max-width: 30rem;
}

.successful {
    border: 2px solid rgba(0, 128, 0, 0.507);
}

.computer-done {
    border: 2px solid rgb(231, 231, 72);
}